filelock==3.0.10
pkg-resources==0.0.0
pluggy==0.9.0
py==1.8.0
PyQt5==5.12.1
PyQt5-sip==4.19.15
PyScaffold==3.1
six==1.12.0
toml==0.10.0
tox==3.8.6
tox-travis==0.12
versioneer==0.18
virtualenv==16.4.3
